<!DOCTYPE html>
<html lang="en">
    
    <%- include ("partials/head.ejs")%>
<head>
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, ullam ut quo eligendi rerum facere quod enim nobis quisquam, ratione minus! Fuga qui nulla, culpa tenetur unde quibusdam officiis dolores impedit praesentium officia nemo dignissimos inventore voluptas, ab, consectetur accusantium voluptatum libero. Ducimus vel pariatur cumque consequuntur excepturi aut, velit eveniet fuga magnam quos possimus illo animi quidem ab, explicabo nostrum sapiente in nam?</p>
</body>
</html>